@import "src/static/styles/variables";

.commentContainer {
  position: relative;
}

.commentInput, .autIpn {
  background: #F5F7FB;
  border: 1px solid #ABB2C1;
  border-radius: 50px;

  width: 350px;
  //height: 50px;
  padding: 15px 150px 15px 50px;

  outline: none;

  @media (max-width: $tablet) {
    width: 250px;
  }

  @media (max-width: $phone) {
    padding: 15px 100px 15px 20px;
    width: auto;
  }

  &::placeholder {
    font-size: 18px;
    color: #ABB2C1;

    @media (max-width: $phone) {
      font-size: 14px;
    }
  }
}
.autIpn{
  width: 40%;
  background: white;
  margin-bottom: 10px;
}

.send {
  cursor: pointer;
  color: #ABB2C1;
  font-size: 18px;

  position: absolute;
  top: 30%;
  right: 50px;

  @media (max-width: $tablet) {
    right: 90px;
  }

  @media (max-width: $phone) {
    font-size: 14px;
  }

  @media (max-width: 430px) {
    right: 70px;
  }

  @media (max-width: 395px) {
    right: 50px;
  }

  @media (max-width: 350px) {
    right: 30px;
  }
}
