@font-face {
  font-family: 'Rubik';
  src: url('../../static/fonts/Rubik-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('../../static/fonts/Rubik-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Rubik';
  src: url('../../static/fonts/Rubik-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('../../static/fonts/Rubik-Light.ttf');
  font-weight: 300;
  font-style: normal;
}
