$font-family: 'Montserrat', sans-serif;
$background-color: #fff;
$secondary-background-color: #3772FF;
//$background-gradient-color: linear-gradient(45deg, #FFF, #C4C4C4);
$text-color: #000;


$max-content-width: 900px;
$narrow-content-width: 1024px;

$tablet: 902;
$desktop: 1280;

$lt-lg: screen and (max-width: #{$desktop - 1}px,);
$lt-md: screen and (max-width: #{$tablet}px,);
$gt-md: screen and (min-width: #{$tablet + 1}px,);
