$font-family: 'Montserrat', sans-serif;
$background-color: #fff;
$secondary-background-color: #3772FF;
//$background-gradient-color: linear-gradient(45deg, #FFF, #C4C4C4);
$text-color: #000;


$max-content-width: 900px;
$narrow-content-width: 1024px;

$tablet: 768px;
$middle: 1024px;
//$desktop: 1280px;
