@import "src/static/styles/main.scss";

.container {
  font-family: $font-family;
  max-width: $max-content-width;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  .user {
    margin-left: 79px;
    display: flex;

    .avatar {
      width: 100px;
      height: 100px;
    }

    .status {
      margin-left: 80px;
      max-width: 350px;
      font-size: 12px;
      align-self: flex-end;
      text-align: left;

      .userInfo {
        display: flex;
        align-items: baseline;
      }

      .userName {
        font-size: 18px;
        margin-bottom: 20px;
        margin-right: 10px;
      }
    }
  }
  .icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
  }
  .iconNone{
    cursor: pointer;
  }
 .menuPosition{
   align-items: center;
 }
  .blockLine {
    display: flex;
  }

  .lineBlue {
    @include line(312px, #3772FF, 30px)
  }

  .lineLightBlue {
    @include line(312px, #00CECB, 30px)
  }

  .lineGrey {
    @include line(277px, #ABB2C1, 30px)
  }

  .galleryPosts {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, max(277px));
    grid-gap: 34px;

  }

  .galleryImage {
    border-radius: 30px;
    width: 277px;
    height: 277px;
  }

  .galleryHover {
    position: relative;
  }

  .imageHover {
    position: absolute;
    top: 0;
    bottom: 3px;
    width: 100%;
    background: linear-gradient(180deg, rgba(55, 114, 255, 0.7) 0%, rgba(0, 206, 203, 0.49) 100%);
    border-radius: 30px;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transform: scale(0) rotate(180deg);
    transition: all .25s;
  }
;

  .iconComment {
    margin-left: 52px;
  }

  .iconCommentCount {
    margin: 0 2px 30px 0;
  }

  .galleryHover:hover .imageHover {
    opacity: 1;
    cursor: pointer;
    transform: scale(1) rotate(0);
  }

  .galleryPosts:last-child {
    margin-bottom: 31px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 768px;
    align-items: center;

    .user {
      align-self: flex-start;
      margin-left: 60px;

      .status {
        margin-left: 20px;
        align-self: center;
      }
    }

    .icon {
      align-self: normal;
      margin-bottom: 27px;
      margin-left: 60px;
    }

    .lineBlue {
      @include line(225px, #3772FF, 30px)
    }

    .lineLightBlue {
      @include line(225px, #00CECB, 30px)
    }

    .lineGrey {
      @include line(200px, #ABB2C1, 30px)
    }

    .galleryPosts {
      margin-top: 32px;
      grid-template-columns: repeat(2, max(277px));
      align-items: center;
    }
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 480px;

    .user {
      align-self: flex-start;
      margin-left: 20px;

      .status {
        margin-left: 8px;
        font-size: 10px;
      }
    }

    .icon {
      align-self: normal;
      margin-bottom: 27px;
      margin-left: 20px;
    }

    .lineBlue {
      @include line(160px, #3772FF, 20px)
    }

    .lineLightBlue {
      @include line(160px, #00CECB, 20px)
    }

    .lineGrey {
      @include line(130px, #ABB2C1, 20px)
    }

    .galleryPosts {
      margin-top: 36px;
      grid-template-columns: repeat(1, max(277px));
      align-items: center;
    }
  }
}

@media (max-width: 480px) {
  .container {
    width: 320px;

    .user {
      margin-bottom: 10px;

      .avatar {
        width: 22px;
        height: 22px;
      }

      .status {
        margin-left: 11px;

        .userName {
          margin-bottom: 10px;
          font-size: 12px;
        }
      }
    }
    .icon{
      justify-content: flex-end;
    }
    .iconNone {
      display: none;

    }
    .userStatus {
      width: 163px;
    }

    .lineBlue {
      @include line(94px, #3772FF, 10px)
    }

    .lineLightBlue {
      @include line(94px, #00CECB, 10px)
    }

    .lineGrey {
      @include line(83px, #ABB2C1, 10px)
    }

    .galleryPosts {
      margin-top: 16px;
      grid-template-columns: repeat(1, max(277px));
      align-items: center;
      grid-gap: 16px;
    }
  }
}