@import "src/static/styles/variables.scss";

.menu {
  max-width: 280px;
  background: linear-gradient(85.98deg, #3772FF -11.6%, #00CECB 104.24%);
  transform: translateY(-2000%);
  margin-bottom: 10px;
  border-radius: 30px;
  position: absolute;
  right: 30px;
  top: -26px;

  @media (max-width: $middle) {
    top: -25px;
    right: 37px;
  }
}

.menu.active {
  top: -30px;
  transform: translateX(0%);
}

.menuContent {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  cursor: default;
}

ul {
  padding: 0;

  .menuElement {
    list-style: none;
    cursor: pointer;
    width: 276px;
    margin: 2px 0;

    a {
      color: white;

    }
  }
}

ul > .menuElement:hover {
  text-shadow: -1px -1px #000, 0 1px 0 #444;
  color: #1A1A1A;
  border: linear-gradient(85.98deg, #3772FF -11.6%, #00CECB 104.24%);
  background: #3772ff;
  border-radius: 30px;
}

@media (max-width: 480px) {
  .menu {
    width: 177px;
    margin-bottom: 1px;
    display: none;
  }
  .menuContent {
    justify-content: space-evenly;
  }
  .menu.active {
    display: block;
  }
  ul > .menuElement {
    width: 175px;
  }
}

