@import "src/static/styles/variables.scss";

.container {
  max-width: $max-content-width;
  height: 100%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  flex: 1 0 auto;

  @media (max-width: $middle) {
    justify-content: center;
  }



  aside {
    background-color: $secondary-background-color;
    height: 100%;
    padding-top: 50px;

    @media (max-width: $middle)  {
      display: none;
    }
  }
}
