.cont-modal{
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  opacity: 0;
  pointer-events: none;
}
.cont-modal.active{
  opacity: 1;
  pointer-events: all;
}
.modal{
  width: 756px;
  height: 590px;
  text-align: center;
  margin: auto auto;
  border-radius: 3%;
  display: flex;
  transform: scale(0.5);
  transition: 0.4s all;
  @media (max-width: 1024px) {
    height: 500px;
    width: 590px;
  }
  @media (max-width: 768px) {
    height: 370px;
    width: 370px;
  }
  @media (max-width: 480px) {
    height: 300px;
    width: 260px;
  }
}
.modal.active{
  transform: scale(1);
}
.modal-picture{
  position: relative;
  height: 100%;
  width: 65%;
  border-radius: 15px 0 0 15px;
  @media (max-width: 768px) {
    width: 100%;
  }
}
.modal-picture img{
  @media (max-width: 768px) {
   border-radius: 15px;
  }
}
.close-modal{
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  top: -25px;
  right: -25px;
  cursor: pointer;
  background:
          linear-gradient(45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 43%,#fff 45%,#fff 55%,rgba(0,0,0,0) 57%,rgba(0,0,0,0) 100%),
          linear-gradient(135deg, rgba(245, 107, 0, 0) 0%, rgba(245, 107, 0, 0.01) 43%,#fff 45%,#fff 55%,rgba(0,0,0,0) 57%,rgba(0,0,0,0) 100%);

}
.modal-msg{
  background: white;
  width: 35%;
  border-radius: 0 15px 15px 0;
  display: flex;
  flex-direction: column;
  @media (max-width: 768px) {
    border-radius: 15px;
    display: none;
  }
}
.modal-msg-user{

  width: 100%;
  padding: 30px;
  border-radius: 0 15px 0 0;
  position: relative;

}
.modal-msg-user-nick{
 padding-left: 15px;
}
.modal-msg-user-box{
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-msg-hr{
  height: 2px;
  width: 205px;
  background: rgb(55,114,255);
  background: linear-gradient(90deg, rgba(55,114,255,1) 0%, rgba(55,114,255,1) 30%, rgba(0,206,203,1) 37%, rgba(0,206,203,1) 64%, rgba(171,178,193,1) 72%);
  border: none;
  margin-top: 20px ;
  @media (max-width: 1024px) {
    width: 154px;
  }
}
.modal-msg-posts{
  width: 100%;
  padding-bottom: 300px;
  overflow: scroll;
  @media (max-width: 1024px) {
    padding-bottom: 252px;
  }
}
.modal-msg-like{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;

}
.modal-msg-comments{
  border-radius: 0 0 15px 0;
  height: 100%;
  margin-bottom: 15px;
}