
.container {
  margin-bottom: 30px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  .avatar {
    border-radius: 50px;
    margin-right: 30px;
  }

  .userName {
    font-size: 1.125rem;
  }
}

.postPicture {
  border-radius: 30px;
  max-width: 590px;
  max-height: 590px;

  // todo under question
  overflow: hidden;
  //height: 100%;
  //width: 100%;
  //object-fit: contain;

  margin-bottom: 29px;
}

.footerIcons {
  margin: 0 18% 32px;

  display: flex;
}

.footerIconsItem {
  margin-right: 26.4%;
}
