@import "src/static/styles/variables";

.container {
  margin-bottom: 30px;

  @media (max-width: $middle)  {
    margin: 0 auto 30px;
  }
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  .avatar {
    border-radius: 50px;
    margin-right: 30px;

    img {
      height: 47px;
      width: 47px;
      object-fit: cover;
      border-radius: 50px;
    }
  }

  .userName {
    font-size: 1.125rem;
  }
}

.postPicture {
  max-width: 590px;
  max-height: 590px;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
  }

  margin-bottom: 29px;
}

.footerIcons {
  margin: 0 18% 32px;

  display: flex;
}

.footerIconsItem {
  margin-right: 26.4%;
}
