
.userContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  margin: 0 auto 35px;
}

.userAvatar {
  width: 47px;
  height: 47px;
  object-fit: cover;
  border-radius: 50px;
}

.userName {
  font-size: 18px;
  color: #FFFFFF;
}
