
.mainContainer {
  margin: 0 17px 50px 13px;
}

.headerContainer {
  display: flex;
  justify-content: space-between;

  margin: 0 0px 30px;
}

.headerItem {
  color: #FFFFFF;
  font-size: 12px;
  cursor: pointer;
  font-weight: 300;
}

.usersContainer {
  list-style-type: none;
  padding: 0;
  margin: 0;

  max-height: 162px;
  overflow: auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 4px;
    background: #F5F7FB;
  }

  &::-webkit-scrollbar-thumb {
    background: #ABB2C1;
    border-radius: 5px;
  }

  .usersItem {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    margin-bottom: 24px;

    .avatar {
      margin-right: 20px;

      img {
        width: 30px;
        height: 30px;
        border-radius: 50px;
        object-fit: cover;
      }
    }

    .nickname {
      color: #FFFFFF;
      font-size: 12px;
      text-overflow: ellipsis;
      margin-right: auto;
    }
  }
  .noSubscribe {
    font-size: 12px;
    color: white;
  }
}



